@charset "UTF-8";

@import 'colours';
@import 'overrides';

$ControlBorder: 1px solid $ControlBorderColour ;

.nokmenu {
	z-index: 1005;
	position: absolute;
	left: 3px;
	top: 150px;
	padding-right: 5px;
	background-color: $BlueColourTransp;
	color: #fff;
	border: $ControlBorder;
}

@media print {
	.nokmenu {
		display: none;
	}
}

.nokmenu a {
	color: #fff; 
	&:hover, &:active { 
		color: rgb(255, 165, 0);
}

}
.nokmenu ul {
	margin: 2px;
}

#downloadLink a {
	background: transparent url(../img/opendata.png) 0px 1px no-repeat;
	padding-left: 18px;
}

.metadata {
	background: transparent url(../img/metadata.png) 0px 1px no-repeat;
	padding-left: 18px;
}
