@CHARSET "UTF-8";

@import 'colours';

$ControlBorder: 1px solid $ControlBorderColour;

.nokmenu {
	z-index: 1005;
	position: absolute;
	left: 3px;
	top: 150px;
	padding-right: 5px;
	background-color: $BlueColourTransp;
	color: #fff;
	border: $ControlBorder;
}

@media print {
	.nokmenu {
		display: none;
	}
}

html.js .nokmenu {
	top: -1px;
}

.nokmenu a {
	color: #fff;
}

.nokmenu a:active,.nokmenu a:hover {
	color: #ff00ff;
}

.nokmenu ul {
	margin: 2px;
}

#downloadLink a {
	background: transparent url(../img/opendata.png) 0px 1px no-repeat;
	padding-left: 18px;
}

#zoekContainer fieldset {
	background-color: $BlueColourTransp;
	background-image: none;
	border-radius: 0 0 3px 0;
	padding: 6px 0 6px 35px;
	border: none;
}